<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<phpunit bootstrap="bootstrap.php" colors="true">
  <testsuites>
    <testsuite name="Proxy Tests">
      <directory>ProxyTests</directory>
    </testsuite>
    <testsuite name="Registry Tests">
      <directory>RegistryTests</directory>
    </testsuite>
  </testsuites>
</phpunit>
