[SignTool]
; NOTE:
; code-signing requires a locally installed code-signing binary tool
; that does not ship with this codebase, so you need to enable it if
; you need it.
;
; http://www.jrsoftware.org/ishelp/index.php?topic=setup_signtool
; http://doughennig.blogspot.de/2009/11/executable-signing-with-inno-setup.html
; http://margopowell.wordpress.com/2012/05/08/run-innosetup-with-digital-signature/
;
SignTool=mssigntool
